<div class="container lista">
  <div class="row">
    <div class="example-container mat-elevation-z8">

      <md-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container mdColumnDef="userId">
          <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.id}} </md-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container mdColumnDef="progress">
          <md-header-cell *mdHeaderCellDef> Progress </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.progress}}% </md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container mdColumnDef="userName">
          <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container mdColumnDef="color">
          <md-header-cell *mdHeaderCellDef> Color </md-header-cell>
          <md-cell *mdCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>
        </ng-container>

        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>

      <md-paginator #paginator [length]="exampleDatabase.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5]">
      </md-paginator>
    </div>
  </div>

  <div class="row">
    <div class="col s9 m11 l11 xl11"></div>
    <div class="col s3 m1 l1 xl1">
      <a md-fab color="primary" routerLink="/notes/adicionar" mdTooltip="Adicionar notas">
        <md-icon>add</md-icon>
      </a>
    </div>
  </div>

</div>
