<div class="row">
  <div class="col s1 m1 l1 xl1">
    <button md-icon-button color="primary">
      <md-icon class="md-24" routerLink="/notes" mdTooltip="Lista de notas">arrow_back</md-icon>
    </button>
  </div>
  <div class="col s11 m11 l11 xl11">
    <p-editor [(ngModel)]="texto" [style]="{'height':'320px'}"></p-editor>
  </div>
</div>

<div class="row">
  <div class="col s1 m1 l1 xl1"></div>
  <div class="col s11 m11 l11 xl11">
    <button md-raised-button color="primary" (click)="salvarTexto()">Salvar</button>
    <!--button md-raised-button color="warn" (click)="texto=null">Limpar</button-->
  </div>
</div>
