<div class=" addiciona">
  <div class="row">
    <div class="editor">
      <p-editor [(ngModel)]="texto" [style]="{'height':'360px'}"></p-editor>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="col s6 m6 l6 xl6">
      <button class="botaoExpand"  md-raised-button color="primary" (click)="salvarTexto()"
      [disabled]="texto == null">Salvar</button>
      <!--button md-raised-button color="warn" (click)="texto=null">Limpar</button-->
    </div>
    <div class="col s6 m6 l6 xl6">
        <button class="botaoExpand"  md-raised-button color="warn" (click)="limparTexto()"
        [disabled]="texto == null">Limpar</button>
        <!--button md-raised-button color="warn" (click)="texto=null">Limpar</button-->
    </div>
  </div>
  </div>

</div>

<p-dialog header="Carregando a nota..." [(visible)]="display" modal="modal" width="300" [responsive]="true">
  <div class="preloader-wrapper small active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</p-dialog>

