<div class="conteudo">
  <blockquote>
    <h5>Deseja deletar a conta?</h5>
    <button class="butao" md-raised-button color="warn" (click)="deletarConta()" hoverable>Deletar conta</button>
  </blockquote>

  <!--blockquote>
    <h5>Deseja trocar o email?</h5>
    <button class="butao" md-raised-button color="warn" [disabled]="true">Trocar email</button>
  </blockquote>

  <blockquote>
    <h5>Deseja trocar a senha?</h5>
    <button class="butao" md-raised-button color="warn" [disabled]="true">Trocar senha</button>
  </blockquote -->

  <blockquote>
      <span>Usuário: {{ email }}</span>
  </blockquote>

</div>
